.Detaildivbg{
    background-color: black;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.VodDataContainer{
    margin-left: 10%;
    margin-top: 2%;
    flex-direction: row;
    display: flex;
    color: white;

}

.Vodtextbox{
    line-height: 200%;
    font-size:17px;
}

.Vodsumrybox{
    margin-left: 1%;


}

.VodData{
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-left: 1%;

}

.VodInfo1{
    display: flex;
    white-space: nowrap;
}

.TitleContainer{
    flex-direction: row;
}

.VodTitle{
    display: inline-flex;
    font-weight: bolder;
    position: relative;
    top: -5px;
}

.WishButton{
    display: inline-flex;
    color: white;
}

.ModalButton{
    margin-left:10%;
    color:white;
}

.ReviewButton{
    margin-left:1%;
    color:black;
    border-color: white;
}

.ReviewBox{
    margin-left:11%;
    margin-right:11%;
    margin-bottom: 4%;
    border-bottom: 2px solid white;
    color:white;
}

.firstReviewButton{
    margin-left:-10%;
}
