.grdropdownbutton {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color:white;
}

.grdropdown {
    position: relative;
    display: inline-block;
  }
  
  .grdropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: -560px;
    background-color: #28292a;
    width: 600px;
    height: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 3px;
    opacity: 0.9;
  }
  
  .grdropdown-content p {
    padding: 16px;
    text-decoration: none;
    display: block;
    color:#D4D4D4;
  }
  
  .grdropdown-content p:hover {
    background-color: #393939;
    cursor: pointer;
    color: white;
  }

  .grcustom-ui {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .grcustom-ui h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .grcustom-ui p {
    margin-bottom: 20px;
  }
  
  .grcustom-ui button {
    color: black;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .grcustom-ui button:hover {
    background-color: #f1f1f1;
  }

.DropDownNav{
  text-decoration: none;
}
.DropDownHamburg{
  margin-top: 40%;
  margin-left: 40%;
  width: 45px;
}




