.dropdownbutton {
    cursor: pointer;
    background-color: transparent;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    left: -70px;
    top:130%;
    background-color: #28292a;
    width: 150px;
    height: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    border-radius: 3px;
  }
  
  .dropdown-content p {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:#D4D4D4;
  }
  
  .dropdown-content p:hover {
    background-color: #393939;
    cursor: pointer;
    color: white;
  }

  .custom-ui {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .custom-ui h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .custom-ui p {
    margin-bottom: 20px;
  }
  
  .custom-ui button {
    color: black;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .custom-ui button:hover {
    background-color: #f1f1f1;
  }

.DropDownLink{
  text-decoration: none;
}
  

.DropDownMenu{
  flex-direction: column;
  display: block;
  font-size: 18px;
  font-weight: 5px;
  margin-top: 10%;
}
  .DropDownMenu p {
    margin-left: 4%;
    display: block;
    color:white;
    align-items: center;
    width: 70%;
  }

.DropDownHello{
  margin-top: 10%;
  color: white;
  font-size: 18px;
}

.UserContainer{
  margin-top: 50%;
  margin-left: -40%;
  width: 45px;
  height: 45px;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  background: url('../assets/user.jpg');
  background-size: cover;
}

.ButtonSet{
  display: flex;
  justify-content: flex-end;
}

.DropDownMypage {
 background-color: #393939;
}

.DropDownLogout {
  background-color: #393939;
  margin-top: 5px;
}
