.GenreBackground{
    background-color: black;
    background-size: cover; 
    background-position: center;
    height: 100vh;
}

.GenreVodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.GenreLabel{
    width: 176px; 
    height: 244px; 
    border-radius: 3px; 
    overflow: hidden;
    border: 1px black solid;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    cursor: pointer;
    margin: 2% 2%;
}

.GenrePoster{
    display: flex;
    align-self: stretch;
    flex: 1 1 0;
}
