.LoginButton {
    cursor: pointer;
    background-color: #a50034;
    height: 60px;
    width: 250px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    &:disabled {
        background-color: #F5ADAD;
      }
}

.LoginInput {
    cursor: pointer;
    width: 220px;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    &::placeholder {
        color: #d4d4d4;
        font-size: 20px;
        font-weight: 550;
        border: none;
    };
    &:focus {
        outline: 2px solid #a50034;
    };
}

.Div {
    display: flex;
    align-items: center;
}

.LoginBackground {
    height: 100vh;
}

.LoginLogo{
    height: 75px;
    position: absolute;
    top: 10px;
    left:0px;
 }

.playgif{
    width: 70px;
    padding: 20px;
}