.Mypagebg{
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.LinkText{
    display: inline;
    white-space: nowrap;
    margin-right: 1%;
    text-decoration-line: none !important;
    color:white;
}

.ProgressBar{
    display:flex;
    position: relative;
    top: -11px;
    right: -1px;
}

progress {
    appearance: none;
}
progress::-webkit-progress-bar {
    background:transparent;
    opacity: 0.7;
    width: 177px;
    height: 10px;
    border-radius:2px;
}
progress::-webkit-progress-value {
    border-radius:2px;
    background: #a50034;
}

.Rating{
    display: block;
}

.RatingContainer{
    flex-direction: row;
    display: inline-block;
}

.RatingImgContainer{
    display:block;
    width: auto; 
    height: 170px; 
    border-radius: 3px; 
    overflow: hidden;
    border: 1px black solid;
    display: inline-flex;
    cursor: pointer;
}

.RatingImg{
    align-self: stretch;
    flex: 1 1 0;
}

.RatingTitleContainer{
    display: inline-flex;
    flex-direction: row;
    color:white;
}

.RatingDate{
    display: flex;
    margin-left: 2%;
    white-space: nowrap;
    
}

.Review{
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: 3%;
    color:white;
}

.RatingDataContainer{
    display:flex;
    flex-direction: column;
}

.fig{
    border-color:black;
}

.RatingContainer{
    margin-bottom: 3%;
}