

.LinkText{
    
    display: inline;
    white-space: nowrap;
    margin-right: 1%;
    text-decoration-line: none !important;
}

.Rating{
    display: inline-block;
}

.RatingContainer{
    flex-direction: row;
    display: inline-block;
}

