* {
    margin : 0;
}

.NavBar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0 auto;
    justify-content: flex-start;
}

.NavBarSearchIcon {
    text-decoration: none;
    width: 20px;

}

.LinkContainer{
    margin-left:3%;
    margin-right: 3%;
}

.NavbarLink {
    text-decoration: none;
}

.Logo{
   height: 75px;
   position: absolute;
   top: 5px;
   left:0px;
}

.SubsrContainer{
    display:inline-flex;
    margin-right: 5%;
}

.Subsr{
    font-size : 21px;
}

.GenreMenu{
    display:flex;
    margin-left: auto;
    margin-right: 5%;
}

